<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javlonbek</title>
</head>
<body>
    <h2>Briefly about me</h2>
    <img src="{static images/IMG_20230402_173314_736.png}" alt="Javlonbek">

    <ul> <p style="text-aligin: center;
    color: #4185E0;
    border: 2px solid red;
    padding: 10px;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;">
        My name is Javlonbek. I was born in 2004. My education is an incomplete higher education. I am a future programmer.
        My interests are reading books and playing computer games</h4>
    </p>
        <li> National University of Uzbekistan🏢</li>
        <li> Information systems and Technologies(2/4 🦅)</li>
        <li> Python Developer (Learning)👨‍💻</li>
        <li> C# Developer (Learning)👨‍💻</li>
    </ul>


</body>
</html>